# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Builds
dist/
build/

# Variables de entorno
.env
.env.local
.env.*.local

# IDE (opcional pero útil)
.vscode/